<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<!--/*@thymesVar id="user" type="java"*/-->

<!--/*@thymesVar id="newNote" type="java"*/-->
<div class="add-note-container">
    <h3>Add new note:</h3>
<form th:object="${newNote}" th:action="@{/notes/add/{id}(id=${user.id})}" method="post">
    <input type="hidden" th:field="*{user.id}" />
    <div>
        <label for="title">Title:</label>
        <input class="add-note-container-title" type="text" id="title" th:field="*{name}" />
    </div>
    <br>
    <div>
        <label for="content">Content:</label>
        <textarea class="add-note-container-content" id="content" th:field="*{content}"></textarea>
    </div>
    <button type="submit">Add Note</button>
</form>
</div>
</body>
</html>