<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update note</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<!--/*@thymesVar id="noteToUpdate" type="java"*/-->
<!--/*@thymesVar id="user" type="java"*/-->
<div class="edit-note-container">
    <h3>Edit note:</h3>
<form th:object="${noteToUpdate}" th:action="@{/notes/update/{userId}/{noteId}(userId=${user.id}, noteId=${noteToUpdate.id})}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div>
        <label for="title">Title:</label>
        <input class="edit-note-container-title" type="text" id="title" th:field="*{name}" />
    </div>
    <br>
    <div>
        <label for="content">Content:</label>
        <textarea  class="edit-note-container-content" id="content" th:field="*{content}"></textarea>
    </div>
    <button  class="edit-note-container-button" type="submit">Update</button>
</form>
</div>

</body>
</html>