<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<!--/*@thymesVar id="editUser" type="java"*/-->
<div class="edit-user-container-edit-form">
    <h3>Edit user:</h3>
<form th:object="${editUser}" th:action="@{/users/update/{id}(id=${editUser.getId()})}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="${editUser.name}" />
    </div>
    <br/>
    <div><label for="surname">Surname:</label>
        <input type="text" id="surname" th:field="${editUser.surname}" />
    </div>
    <br/>
    <button type="submit">Update</button>
    <a class="edit-note-container-get-all-users-button" href="/users">All users</a>
</form>
</div>
</body>
</html>