<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information about user</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="info-user-container">
<table th:object="${userInfo}">
    <h3>User information:</h3>
    <!--/*@thymesVar id="userInfo" type="java"*/-->
    <tr>
        <td class="info-user-container-information" th:text="${userInfo.name}">name</td>
        <td class="info-user-container-information" th:text="${userInfo.surname}">surname</td>
        <td><a th:href="@{/users/delete/{id}(id=${userInfo.getId()})}">Delete</a></td>
        <td><a th:href="@{/users/edit/{id}(id=${userInfo.getId()})}">Update</a></td>
        <td><a th:href="@{/notes/{id}(id=${userInfo.getId()})}">Notes</a></td>
        <td> <a href="/users">All users</a></td>
    </tr>
</table>
    </div>
</body>
</html>